.App {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.genre-container {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  flex-wrap: wrap;
}

.genre-card {
  border: 1px solid black;
  border-top-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.genre-selected {
  background-color: rgb(199, 123, 48);
}

.movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.movie-card {
  background-color: rgb(206, 215, 235);
  max-width: 800px;
  border: 1.5px solid black;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 0.5rem 1rem;
}

.card-heading {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
}
